<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

    <script src="http://ajax.aspnetcdn.com/ajax/jQuery/jquery-1.9.0.min.js"></script>
    @*<script src="~/Scripts/jquery.ba-dotimeout.min.js"></script>*@
    @*<script src="/Framework/ThirdParty/tiny_mce/tiny_mce_dev.js"></script>*@
    
    
    @Scripts.Render("~/Framework/AssetLoader.js")
    @Scripts.Render("~/Framework/BootUp.js")
    @Scripts.Render("~/Framework/DataLoader.js")
    @Scripts.Render("~/Framework/Debugger.js")
    @Scripts.Render("~/Framework/LanguageResources.js")
    @Scripts.Render("~/Framework/Layouts/MasterLayout.js")
    @Scripts.Render("~/Framework/SceneManager.js")
    @Scripts.Render("~/Framework/Theme.js")
    @Scripts.Render("~/Framework/UsageStats.js")
    @Scripts.Render("~/Framework/UIRenderer.js")


    @Scripts.Render("~/Framework/Layouts/Layout001.js")
    @Scripts.Render("~/Framework/Layouts/Layout002.js")
    @Scripts.Render("~/Framework/Layouts/Layout003.js")


    @Scripts.Render("~/Framework/Scenes/Demo/DemoTinyMCE.js")
    @Scripts.Render("~/Framework/Scenes/Demo/DemoWysihtml5.js")
    @Scripts.Render("~/Framework/Scenes/Demo/DemoInfiniteCanvasDataGridModernTree.js")
    @Scripts.Render("~/Framework/Scenes/Demo/DemoVideoPlayer.js")
    @Scripts.Render("~/Framework/Scenes/Demo/DemoAudioPlayer.js")
    @Scripts.Render("~/Framework/Scenes/Demo/DemoModernIFrame.js")
    @Scripts.Render("~/Framework/Scenes/Demo/DemoOutlook01.js")
    @*@Scripts.Render("~/Framework/Scenes/Demo/DemoLogin01.js")*@
    



    @Scripts.Render("~/Framework/Controls/FrameworkControl.js")
    @Scripts.Render("~/Framework/Controls/LoadingControl.js")


    @Scripts.Render("~/Framework/Controls/AppBarControl.js")
    @Scripts.Render("~/Framework/Controls/AppBarItemControl.js")
    @Scripts.Render("~/Framework/Controls/ToolBarControl.js")
    @Scripts.Render("~/Framework/Controls/ToolBarItemControl.js")
    @Scripts.Render("~/Framework/Controls/VerticalDividerControl.js")
    @Scripts.Render("~/Framework/Controls/HorizontalDividerControl.js")
    @Scripts.Render("~/Framework/Controls/TinyMCE/TinyMCEControl.js")
    @Scripts.Render("~/Framework/Controls/InfiniteCanvas/InfiniteCanvasControl.js")
    @Scripts.Render("~/Framework/Controls/DataGrid/DataGridControl.js")
    @Scripts.Render("~/Framework/Controls/ModernTree/ModernTreeControl.js")
    @Scripts.Render("~/Framework/Controls/Wysihtml5/Wysihtml5Control.js")
    @Scripts.Render("~/Framework/Controls/Media/VideoPlayerControl.js")
    @Scripts.Render("~/Framework/Controls/Media/AudioPlayerControl.js")
    @Scripts.Render("~/Framework/Controls/ModernIFrame/ModernIFrameControl.js")
    @Scripts.Render("~/Framework/Controls/ModernAccordian/ModernAccordianControl.js")
    @Scripts.Render("~/Framework/Controls/NotificationCenter/NotificationCenterControl.js")
    @Scripts.Render("~/Framework/Controls/ModernFilterBox/ModernFilterBoxControl.js")
    @Scripts.Render("~/Framework/Controls/ModernDropdownList/ModernDropdownListControl.js")
    
    


    
    @Scripts.Render("~/Framework/Controls/WebUI/application.appcontainer.js")
    @Scripts.Render("~/Framework/Controls/WebUI/utils.frameratecounter.js")
    @Scripts.Render("~/Framework/Controls/WebUI/experience.js")
    @Scripts.Render("~/Framework/Controls/WebUI/views.pagebase.js")
    @Scripts.Render("~/Framework/Controls/WebUI/views.pagex.js")
    @Scripts.Render("~/Framework/Controls/WebUI/utils.interpolation.js")
    @Scripts.Render("~/Framework/Controls/WebUI/controls.controlbase.js")
    




    @Scripts.Render("~/Framework/Controls/LayoutPanelControl.js")
    



</head>
<body>
    @RenderBody()

    @Scripts.Render("~/bundles/jquery")
    @RenderSection("scripts", required: false)
    




    <div class="footer" onclick="document.location='https://github.com/liquidboy/ModernApps'">
        <div class="gitcode"> developer "Jose Fajardo", all code is open and hosted on GitHub</div>
    </div>
</body>
</html>
